backend:
  name: github
  repo: richardmukechiwa/morningsidezw-site
  branch: main
  base_url: "https://admin.morningsidezw.com"  # your Worker URL handling OAuth
  auth_endpoint: "/auth"                        # OAuth route on your Worker

media_folder: "public/uploads"
public_folder: "/uploads"

publish_mode: editorial_workflow

collections:
  - name: "posts"
    label: "Posts"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }
      - { label: "Summary", name: "summary", widget: "text" }
      - { label: "Featured Image", name: "image", widget: "image" }
