backend:
  name: github
  repo: richardmukechiwa/morningsidezw-site
  branch: main
  base_url: "https://morningside-decapsso.mukechiwarichard.workers.dev"   # The URL of your OAuth proxy
  auth_endpoint: "/auth"                       # OAuth route on your proxy

publish_mode: editorial_workflow

collections:
  - name: "posts"
    label: "Posts"
    folder: "posts"
    create: true
    slug: "{{slug}}"
    fields:
      - { label: "Title", name: "title", widget: "string" }
      - { label: "Date", name: "date", widget: "datetime" }
      - { label: "Body", name: "body", widget: "markdown" }

